src/Decision.Services/Service References/DisposableEmailDetectorService/SoapDisposableEmailAddressDetectorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SoapDisposableEmailAddressDetectorService" targetNamespace="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://api.nameapi.org/soap/v4.0/email/disposableemailaddressdetector?xsd=1" namespace="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/" />
    </xsd:schema>
  </types>
  <message name="isDisposable">
    <part name="parameters" element="tns:isDisposable" />
  </message>
  <message name="isDisposableResponse">
    <part name="parameters" element="tns:isDisposableResponse" />
  </message>
  <message name="AccessDeniedWebServiceException">
    <part name="fault" element="tns:AccessDeniedWebServiceException" />
  </message>
  <message name="InvalidInputWebServiceException">
    <part name="fault" element="tns:InvalidInputWebServiceException" />
  </message>
  <message name="InternalServerErrorWebServiceException">
    <part name="fault" element="tns:InternalServerErrorWebServiceException" />
  </message>
  <portType name="SoapDisposableEmailAddressDetector">
    <operation name="isDisposable">
      <input wsam:Action="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/SoapDisposableEmailAddressDetector/isDisposableRequest" message="tns:isDisposable" />
      <output wsam:Action="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/SoapDisposableEmailAddressDetector/isDisposableResponse" message="tns:isDisposableResponse" />
      <fault wsam:Action="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/SoapDisposableEmailAddressDetector/isDisposable/Fault/AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" message="tns:AccessDeniedWebServiceException" />
      <fault wsam:Action="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/SoapDisposableEmailAddressDetector/isDisposable/Fault/InvalidInputWebServiceException" name="InvalidInputWebServiceException" message="tns:InvalidInputWebServiceException" />
      <fault wsam:Action="http://disposableemailaddressdetector.email.services.v4_0.soap.server.nameapi.org/SoapDisposableEmailAddressDetector/isDisposable/Fault/InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" message="tns:InternalServerErrorWebServiceException" />
    </operation>
  </portType>
  <binding name="SoapDisposableEmailAddressDetectorPortBinding" type="tns:SoapDisposableEmailAddressDetector">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="isDisposable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessDeniedWebServiceException">
        <soap:fault use="literal" name="AccessDeniedWebServiceException" namespace="" />
      </fault>
      <fault name="InvalidInputWebServiceException">
        <soap:fault use="literal" name="InvalidInputWebServiceException" namespace="" />
      </fault>
      <fault name="InternalServerErrorWebServiceException">
        <soap:fault use="literal" name="InternalServerErrorWebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SoapDisposableEmailAddressDetectorService">
    <port name="SoapDisposableEmailAddressDetectorPort" binding="tns:SoapDisposableEmailAddressDetectorPortBinding">
      <soap:address location="http://api.nameapi.org/soap/v4.0/email/disposableemailaddressdetector" />
    </port>
  </service>
</definitions>